
{% extends "shared/base.html" %}
{% load static %}

{% block title %}
Jestore Complex
{% endblock title %}


{% block main %}
  <section>
      <div class="bannerr">
        <div class="noteon">Are you convinced to order one of the diamond made phohe in the world....?</div>
        <button id="noteonorder" class="btn btn-warning">Order Now</button>
      </div>

      <div class="product1">
        <div class="product1head" >
          <p>Latest Bags in Canada</p>
        <p style="text-align: right;"><a style="text-decoration: none; color: black;" href="#">See all >>> </a> </p>
        </div>
        <div class="product1body">
          <div class="productdisplay">
            <div class="priceandimg">
              <img id="productimg" src="{% static 'images/bag3.jpg' %}" alt="Product_image">
              <h4 id="productprice">Price@$</h4> 
            </div><br>
            <h4 id="productname">Product name</h4>
            <h4 id="productgender">Gender</h4>
            <h4 id="productratings">Product Ratings:</h4>
            <h4 id="productdiscription">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates placeat nisi id! Alias, velit in</h4>
            <h4 id="productorder"><a href="#">Order Product</a></h4>
            

          </div>

          <div class="productdisplay">
            <div class="priceandimg">
              <img id="productimg" src="{% static 'images/bag2.jpg' %}" alt="Product_image">
              <h4 id="productprice">Price@$</h4> 
            </div><br>
            <h4 id="productname">Product name</h4>
            <h4 id="productgender">Gender</h4>
            <h4 id="productratings">Product Ratings:</h4>
            <h4 id="productdiscription">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates placeat nisi id! Alias, velit in</h4>
            <h4 id="productorder"><a href="#">Order Product</a></h4>
            

          </div>

          <div class="productdisplay">
            <div class="priceandimg">
              <img id="productimg" src="{% static 'images/bag1.jpg' %}" alt="Product_image">
              <h4 id="productprice">Price@$</h4> 
            </div><br>
            <h4 id="productname">Product name</h4>
            <h4 id="productgender">Gender</h4>
            <h4 id="productratings">Product Ratings:</h4>
            <h4 id="productdiscription">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates placeat nisi id! Alias, velit in</h4>
            <h4 id="productorder"><a href="#">Order Product</a></h4>
            

          </div>
        </div>
      </div>

      <div class="product1">
        <div class="product1head" >
          <p>Latest Bags in Canada</p>
          <p style="text-align: right;"><a style="text-decoration: none; color: black;" href="#">See all >>> </a> </p>
        </div>
        <div class="product1body">
          <div class="productdisplay">
            <div class="priceandimg">
              <img id="productimg" src="{% static 'images/watch3.jpg' %}" alt="Product_image">
              <h4 id="productprice">Price@$</h4> 
            </div><br>
            <h4 id="productname">Product name</h4>
            <h4 id="productgender">Gender</h4>
            <h4 id="productratings">Product Ratings:</h4>
            <h4 id="productdiscription">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates placeat nisi id! Alias, velit in</h4>
            <h4 id="productorder"><a href="#">Order Product</a></h4>
            

          </div>

          <div class="productdisplay">
            <div class="priceandimg">
              <img id="productimg" src="{% static 'images/watch2.jpg' %}" alt="Product_image">
              <h4 id="productprice">Price@$</h4> 
            </div><br>
            <h4 id="productname">Product name</h4>
            <h4 id="productgender">Gender</h4>
            <h4 id="productratings">Product Ratings:</h4>
            <h4 id="productdiscription">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates placeat nisi id! Alias, velit in</h4>
            <h4 id="productorder"><a href="#">Order Product</a></h4>
            

          </div>

          <div class="productdisplay">
            <div class="priceandimg">
              <img id="productimg" src="{% static 'images/watch1.jpg' %}" alt="Product_image">
              <h4 id="productprice">Price@$</h4> 
            </div><br>
            <h4 id="productname">Product name</h4>
            <h4 id="productgender">Gender</h4>
            <h4 id="productratings">Product Ratings:</h4>
            <h4 id="productdiscription">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates placeat nisi id! Alias, velit in</h4>
            <h4 id="productorder"><a href="#">Order Product</a></h4>
            

          </div>
        </div>
      </div>

      <div class="product1">
        <div class="product1head" >
          <p>Latest Bags in Canada</p>
          <p style="text-align: right;"><a style="text-decoration: none; color: black;" href="#">See all >>> </a> </p>
        </div>
        <div class="product1body">
          <div class="productdisplay">
            <div class="priceandimg">
              <img id="productimg" src="{% static 'images/shoe3.jpg' %}" alt="Product_image">
              <h4 id="productprice">Price@$</h4> 
            </div><br>
            <h4 id="productname">Product name</h4>
            <h4 id="productgender">Gender</h4>
            <h4 id="productratings">Product Ratings:</h4>
            <h4 id="productdiscription">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates placeat nisi id! Alias, velit in</h4>
            <h4 id="productorder"><a href="#">Order Product</a></h4>
            

          </div>

          <div class="productdisplay">
            <div class="priceandimg">
              <img id="productimg" src="{% static 'images/shoe2.jpg' %}" alt="Product_image">
              <h4 id="productprice">Price@$</h4> 
            </div><br>
            <h4 id="productname">Product name</h4>
            <h4 id="productgender">Gender</h4>
            <h4 id="productratings">Product Ratings:</h4>
            <h4 id="productdiscription">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates placeat nisi id! Alias, velit in</h4>
            <h4 id="productorder"><a href="#">Order Product</a></h4>
            

          </div>

          <div class="productdisplay">
            <div class="priceandimg">
              <img id="productimg" src="{% static 'images/shoe1.jpg' %}" alt="Product_image">
              <h4 id="productprice">Price@$</h4> 
            </div><br>
            <h4 id="productname">Product name</h4>
            <h4 id="productgender">Gender</h4>
            <h4 id="productratings">Product Ratings:</h4>
            <h4 id="productdiscription">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates placeat nisi id! Alias, velit in</h4>
            <h4 id="productorder"><a href="#">Order Product</a></h4>
            

          </div>
        </div>
      </div>

      <div class="dummytext">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo id minima odio expedita, qui atque ex quidem itaque quos voluptatem debitis tempore voluptatum repudiandae molestias similique consequatur, nesciunt obcaecati est deserunt modi. Vitae quas ab rem nostrum non aliquid possimus laudantium reiciendis, dolores modi exercitationem neque dolorem cum dolor animi. Debitis possimus voluptate quidem ad autem earum natus, soluta voluptates nemo voluptatem ullam id facere tenetur, veniam dicta perferendis optio fugit odit, non exercitationem eaque. Ad reiciendis maxime minima dolores nulla consequatur eius, dolorum eligendi nobis nihil pariatur provident quos tempore asperiores id quaerat sunt amet nostrum repudiandae voluptatem iste ipsum quisquam similique debitis? Fugiat omnis consectetur iusto expedita consequatur magnam, maxime vero ab similique modi laborum quisquam dolore. Sapiente!
      </div>
  </section>
{% endblock main %}